<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @relacionamento.nome %>
</p>


<%= link_to 'Edit', edit_relacionamento_path(@relacionamento) %> |
<%= link_to 'Back', relacionamentos_path %>
